<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compre sus animaciones</title>
    <link rel="stylesheet" href="../statics-assets/styles/decoracion.css">
    <link rel="icon" type="logo.png" href="../statics-assets/img/logo.jpg" size="32x32">
</head>
<body>
    
    <div class="contenedor">
        <div class="arriba" align="center">
            <img src="../statics-assets/img/Shadow_Element.webp" class="elemento" alt="Elemento fantasma">
            <img src="../statics-assets/img//Poison_Element.webp" class="elemento" alt="Elemento veneno">
            <img src="../statics-assets/img//Plasma_Element.webp" class="plasma" alt="Elemento plasma">
            <div class="titulo"><h1>Tienda de animaciones</h1></div>
            <img src="../statics-assets/img/Crystal_Element.webp" class="element0" alt="Elemento cristal">
            <img src="../statics-assets/img/Mech_Element.webp"  class="element0" alt="ELemento mecánico">
        </div>
        <div class="contmonst">
            <div><img id="horrar" class="rombo" src="../statics-assets/img/horrar.webp" alt="horrar el mejor etereo elemental"></div>
            <div><img id="jeoda" class="tamaño" src="../statics-assets/img/jeoda.png" alt="la jeoda"></div>
            <div><img id="tarabicho"class="rombo" src="../statics-assets/img/tarabicho.webp" alt="tarabicho guitarra"></div>
            <div><img id="gruñista" class="rombo" src="../statics-assets/img/gruñista.webp" alt="bumshakala"></div>
            <div><img id="rebro" class="tamaño" src="../statics-assets/img/reebro.webp" alt="cerebro cursed"></div>
            <div><img id="susura" class="rombo" src="../statics-assets/img/susura.webp" alt="oweiowe"></div>
            <div><img id="vudu" class="tamaño" src="../statics-assets/img/voodoo.png" alt="voodoo"></div>
            <div><img id="santahong"  class="tamaño" src="../statics-assets/img/santahong.webp" alt="santahong, el mejor etéreo de dos elmentos"></div>
            <div><img id="arackulele" class="rombo" src="../statics-assets/img/arackulele.webp" alt="arañita cool"></div>
            <div><img id="dragong" class="tamaño" src="../statics-assets/img/dragong.webp" alt="dragooong"></div>
            <div><img id="kamileon" class="tamaño" src="../statics-assets/img/kamileon.webp" alt="camaleón"></div>
            <div><img id="fuez_globo" class="rombo" src="../statics-assets/img/fuezglobo.webp" alt="fuez globooO"></div>
            <div><img id="zoxo" class="tamaño"src="../statics-assets/img/sox.webp" alt="zorrosaxofon"></div>
            <div><img id="mondusa" class="rombo" src="../statics-assets/img/mondusa.png" alt="medusa bigotona"></div>
            <div><img id="nebulob" class="tamaño" src="../statics-assets/img/nebulob.png" alt="nebulob"></div>
        </div>
        <div class="otrocontenedor">
            <div id="infohorrar" class="info" class="raton"><p>Horrar $1500</p></div>
            <div id="infojeoda" class="info" class="raton"><p>Jeoda .$450</p></div>
            <div id="infotarabicho" class="info" class="raton"><p>Tarabicho $500</p></div>
            <div id="infogruñista" class="info" class="raton"><p>Gruñista $150</p></div>
            <div id="inforebro" class="info" class="raton"><p>Rebro $150</p></div>
            <div id="infovudu" class="info" class="raton"><p>Vudu .$250</p></div>
            <div id="infosusura" class="info" class="raton"><p>Susura $450</p></div>
            <div id="infosantahong" class="info" class="raton"><p>Santahong $1500</p></div>
            <div id="infoarackulele" class="info" class="raton"><p>Arackulele $100</p></div>
            <div id="infodragong" class="info" class="raton"><p>Dragong $400</p></div>
            <div id="infokamileon" class="info" class="raton"><p>Kamileon $350</p></div>
            <div id="infofuezglobo" class="info" class="raton"><p>Fuez Globo $350</p></div>
            <div id="infosoxo" class="info" class="raton"><p>Soxo $500</p></div>
            <div id="infomondusa" class="info" class="raton"><p>Mondusa $350</p></div>
            <div id="infonebulob" class="info" class="raton"><p>Nebulob $450</p></div>
            <h4>No supe como quitar esta parte :(</h4>
        </div>
    </div>
</body>
</html>